body{
    background: #f8f8f8;
}

a{
    text-decoration: none;
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: rgb(50, 0, 255);
}

a:hover{
    color: #f57836;
}

header > ul > li{
    list-style-type: none;
}

header > ul > li > a{
    text-decoration: none;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-variant: small-caps;
    color: #000000;

}

header > ul > li > a:hover{
    color: #f57836;
    font-weight: bold;
}

.foto{
    border: 1px #f57836 solid;
    width: 200px;
    height: 200px;
}

.foto:hover{
    border: none;
    padding: 1px;
}

.logo{
    width: 150px;
}

.item{
    border: 1px solid #f57836;
    padding: 10px;
    width: 15%;
    margin: 10px;
    float: left;
}

.menu_item{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.item_caption{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;

}

.item_description{
    color: #484343;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.unordered-list li {
    list-style-type: none;
    font-style: italic;
    font-variant: unset;
    position: relative;
    padding-left: 20px;
    line-height: 1.80em !important;
}

.unordered-list li b{
    font-style: normal;
    font-variant: small-caps;
}
  
.unordered-list li:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #f57836;
    background: #f8f8f8;
    top: 9px;
    left: 0;
    border-radius: 50%;
}

form input[type="text"]{
    margin: 5px;
    width: 300px;
    height: 30px;
    color: #2e2b2b;
    font-size: 18px;
}

form input[type="text"]:focus{
    background: #f57836;
    border: 1px solid black;
    color: #fff;
    text-transform: capitalize;
}

textarea{
    text-transform: capitalize;
}

form input[type="button"]{
    cursor: pointer;
    margin: 5px;
    height: 30px;
    color: #f57836;
    font-size: 16px;
}

input::-moz-placeholder {
    color:  #f57836;
    font-size: 14px;
    opacity: 0.5;
    padding: 3px;
}
input::-webkit-input-placeholder {
    color:  #f57836;
    font-size: 14px;
    opacity: 0.5;
    padding: 3px;
}

.message{
    width: 40%;
}

table{
    border: 3px solid black;
    margin: 0 5px 10px 5px;
    border-spacing: 8px;
}

td{
    border: 1px solid #f57836;
    text-align: center;
}

.f_letter::first-letter{
    font-family: Cambria, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    color: #f57836;
}

.item_table{
    border: 1px dotted #f57836;
    border-spacing: 0;
    padding: 10px;
    margin: 10px auto;
}

.item_table td{
    border: 1px solid black;
    padding: 5px;
}

.item_table_body tr:first-child{
    line-height: 50px;
    color: crimson;
    font-weight: bolder;
}

.item_table th{
    border: 1px solid black;
    color: #f57836;
    font-variant: small-caps;
}

caption{
    text-transform: capitalize;
    font-weight: bold;
}

footer{
    background: #707070;
    color: #fff;
    height: 50px;
    text-align: center;
    padding-top: 5px;
}