body{
    background: #d1d1d1 url(../img/bgl.jpg) repeat;
}

.container{
    width: 960px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: rgb(50, 0, 255);
}

a:hover{
    color: #f57836;
}

header{
    height: 200px;
    background: #d1d1d1 url(../img/roll.jpg) repeat;
    position: relative;
}

header > ul {
    position: absolute;
    right: 30px;
    bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

header > ul > li{
    list-style-type: none;
    margin-right: 20px;    
}

header > ul > li:hover{
    color: #f57836;
    border: 1px bold #f57836;
}

header > ul > li:last-child{
    margin-right: 0;
}

header > ul > li > a{
    text-decoration: none;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-variant: small-caps;
    font-size: 18px;
    color: #000000;
}

header > ul > li > a:hover{
    color: #f57836;
}

.foto{
    border: 3px #f57836 solid;
    width: 200px;
    height: 200px;
    float: left;
    box-sizing: border-box;
}

.foto:hover{
    border-color: transparent;
}

.logo{
    width: 150px;
    position: absolute;
    left: 50px;
    top: 25px;
}

.all_item::after{
    content: '';
    clear: both;
    display: block;
}

.item{
    outline: 1px solid #f57836;
    box-sizing: border-box;
    padding: 10px;
    width: 22%;
    float: left;
    margin-right: 4%;
}

.item:nth-child(4n){
    margin-right: 0;
}

.item:nth-child(n + 5){
    margin-top: 15px;
}

.img{
    width: 100%;
}

.menu_item{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.item_caption{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;

}

.item_description{
    color: #484343;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    
}


.min_description{
    overflow: hidden;
    padding: 10px;
}

.item_position::after{
    content: '';
    clear: both;
    display: block;
}


.unordered-list li {
    list-style-type: none;
    font-style: italic;
    font-variant: unset;
    position: relative;
    padding-left: 20px;
    line-height: 1.80em !important;
}

.unordered-list li b{
    font-style: normal;
    font-variant: small-caps;
}
  
.unordered-list li:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #f57836;
    background: #f8f8f8;
    top: 9px;
    left: 0;
    border-radius: 50%;
}

form input[type="text"]{
    margin: 5px;
    width: 300px;
    height: 30px;
    color: #2e2b2b;
    font-size: 18px;
}

form input[type="text"]:focus{
    background: #f57836;
    border: 1px solid black;
    color: #fff;
    text-transform: capitalize;
}

textarea{
    text-transform: capitalize;
}

form input[type="button"]{
    cursor: pointer;
    margin: 5px;
    height: 30px;
    color: #f57836;
    font-size: 16px;
}

input::-moz-placeholder {
    color:  #f57836;
    font-size: 14px;
    opacity: 0.5;
    padding: 3px;
}
input::-webkit-input-placeholder {
    color:  #f57836;
    font-size: 14px;
    opacity: 0.5;
    padding: 3px;
}

.message{
    width: 400px;
    float: left;
}

.address{
    overflow: hidden;
}

.address::after{
    content: '';
    clear: both;
    display: block;
}

table{
    border: 3px solid black;
    margin: 0 5px 10px 5px;
    border-spacing: 8px;
}

td{
    border: 1px solid #f57836;
    text-align: center;
}

.f_letter::first-letter{
    font-family: Cambria, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    color: #f57836;
}

.item_table{
    border: 1px dotted #f57836;
    border-spacing: 0;
    padding: 10px;
    margin: 10px auto;
}

.item_table td{
    border: 1px solid black;
    padding: 5px;
}

.item_table_body tr:first-child{
    line-height: 50px;
    color: crimson;
    font-weight: bolder;
}

.item_table th{
    border: 1px solid black;
    color: #f57836;
    font-variant: small-caps;
}

caption{
    text-transform: capitalize;
    font-weight: bold;
}

footer{
    background: #707070;
    color: #fff;
    height: 100px;
    text-align: right;
}

footer p{
    padding: 15px 15px 0 0;
}


.buy_button{
    float: right;
    color: white;
    font-size: 18px;
    padding: 5px 20px 10px 20px;
    background: #f57836;
    font-variant: small-caps;
    border: 1px solid transparent;
    border-radius: 3px;
    filter: drop-shadow(0 1px 2px black);
}

.buy_button:hover{
    float: right;
    color: #f57836;
    background: white;
    font-variant: small-caps;
    border: 1px solid #f57836;
}

.buy_button:active{
    float: right;
    color: black;
    background: #60ff60;
    font-variant: small-caps;
    border: 1px solid #f57836;
    filter: drop-shadow(0 1px 2px red);
}

#map{
    padding-top: 20px;
    height: 374px;
    clear: both;
}
